*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(25, 43, 37);
    color: white;
    height: 100px;
    line-height: 100px;
}

.choices{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.choice{
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover{
    background-color: rgb(51, 79, 69);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

.score{
    font-size: 30px;
    margin-bottom: 5rem;
}

#userScore, #compScore{
    font-size: 40px
}

#msg{
    background-color: rgb(25, 43, 37);
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    display: inline;
    cursor: pointer;
}
